# <span style='color:#D2691E'> Projet CSI4506 - Stock Market Prédiction
-------------------------------------------------------------------------
Présenté à Caroline Barrière 

Par:

Miléna Dionne - 8916596 

Samuel Bédard -

In [5]:
# Importation des packages pour l'analyse des données
import pandas as pd

In [9]:
aapl = pd.read_csv("HistoricalQuotes_AAPL.csv")

In [11]:
aapl

            Date  Close/Last    Volume      Open       High         Low
0     11/21/2019     $262.01  30348780   $263.69   $264.005     $261.18
1     11/20/2019     $263.19  26609920   $265.54   $266.083      $260.4
2     11/19/2019     $266.29  19069600    $267.9       $268   $265.3926
3     11/18/2019      $267.1  21700900    $265.8    $267.43     $264.23
4     11/15/2019     $265.76  25093670   $263.68    $265.78     $263.01
...          ...         ...       ...       ...        ...         ...
1253  12/01/2014     $115.07  83657780   $118.81    $119.25     $111.27
1254  11/28/2014     $118.93  24814400   $119.27     $119.4     $118.05
1255  11/26/2014        $119  40756950   $117.94     $119.1     $117.83
1256  11/25/2014      $117.6  68719930   $119.07    $119.75     $117.45
1257  11/24/2014    $118.625  46867340   $116.85    $118.77     $116.62

[1258 rows x 6 columns]