# <span style='color:#D2691E'> Projet CSI4506 - Stock Market Prédiction
-------------------------------------------------------------------------
Présenté à Caroline Barrière 

Par:

Miléna Dionne - 8916596 

Samuel Bédard -

In [8]:
# Importation des packages pour l'analyse des données
import pandas as pd

In [9]:
aapl = pd.read_csv("Data/HistoricalQuotes_AAPL.csv")
MSFT = pd.read_csv("Data/HistoricalQuotes_MSFT.csv")

In [11]:
#enter text to read
aapl

            Date  Close/Last     Volume       Open       High         Low
0     11/21/2019     $262.01   30348780    $263.69   $264.005     $261.18
1     11/20/2019     $263.19   26609920    $265.54   $266.083      $260.4
2     11/19/2019     $266.29   19069600     $267.9       $268   $265.3926
3     11/18/2019      $267.1   21700900     $265.8    $267.43     $264.23
4     11/15/2019     $265.76   25093670    $263.68    $265.78     $263.01
...          ...         ...        ...        ...        ...         ...
2512  11/30/2009    $28.5586  105960292     $28.73   $28.8114    $28.3957
2513  11/27/2009    $28.6557   73814252     $28.46   $28.9943    $28.3386
2514  11/25/2009      $29.17   71610021   $29.3428   $29.3786    $29.1086
2515  11/24/2009    $29.2057   79299524   $29.3328   $29.4114    $28.9857
2516  11/23/2009    $29.4114  118458796        $29   $29.4286    $28.9928

[2517 rows x 6 columns]